.rank {
  position: relative;
  padding-top: 33px;
  padding-bottom: 40px;
  order: 5;
  @media (max-width: 1080px) {
    padding-top: 40px;
  }
}

.bg-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.rank-content {
  position: relative;
  z-index: 1;
}

.title {
  color: var(--color-primary-50);
  text-align: center;
  text-shadow: var(--shadow-box-1);
  font-family: var(--font-tungsten);
  font-size: 60px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  text-transform: uppercase;
  @media (max-width: 1080px) {
    font-size: 30px;
  }
}

.description {
  color: white;
  text-align: center;
  text-shadow: var(--shadow-box-1);
  font-family: var(--font-montserrat);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 12px;
  @media (max-width: 1080px) {
    font-size: 12px;
  }
}

.tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  .tab {
  }
}

.tab-btn {
  width: 160px;
  height: 36px;
  position: relative;
  cursor: pointer;
  margin-top: 40px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

  color: #fff;
  text-align: center;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  font-family: var(--font-tungsten);
  font-size: 24px;
  font-style: normal;
  font-weight: bold;
  text-transform: capitalize;
  line-height: normal;
  letter-spacing: 1.2px;
  .active {
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
    position: absolute;
    z-index: -1;
  }
  .hover {
    transition: opacity 200ms;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
    opacity: 0;
    position: absolute;
    z-index: -1;
  }
  .default {
    transition: opacity 200ms;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
    opacity: 1;
    position: absolute;
    z-index: -1;
  }
  &:hover {
    .hover {
      transition: opacity 200ms;
      opacity: 1;
    }
    .default {
      transition: opacity 200ms;
      opacity: 0;
    }
  }
  @media (max-width: 1080px) {
    font-size: 16px;
    width: 115px;
    height: 27px;
    margin-top: 27px;
    margin-bottom: 26px;
  }
}

.cards-box {
  width: 1320px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-right: auto;
  margin-left: auto;
  @media (max-width: 1340px) {
    width: calc(100% - 32px);
    margin-right: 16px;
    margin-left: 16px;
  }
  @media (max-width: 1080px) {
    grid-template-columns: 1fr;
  }
}
