.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 24px;

  button {
    width: 48px;
    height: 48px;
    border-radius: 8px;
    display: grid;
    place-content: center;
  }
  .btn-close {
    background-color: #3f3f3f;
    box-shadow: var(--shadow-box-2);
  }
  .btn-open {
    background-color: var(--color-primary-50);
  }
}
