.news-banner {
  height: 100vh;
  width: 100vw;
  min-height: 836px;
  position: relative;
  order: 1;
  @media (max-width: 1080px) {
    height: 400px;
    min-height: 400px;
  }
  .banner-bg {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.news-content {
  position: relative;
  z-index: 2;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  pad: 0 10px 0 10px;

  .news-box {
    width: 1170px;
    border-radius: 4px;
    background: rgba(255, 190, 23, 0.6);
    padding: 20px 0;
    box-shadow: var(--shadow-box-2);

    .intro-text {
      color: white;
      text-align: center;
      text-shadow: var(--shadow-box-1);
      font-family: var(--font-tungsten);
      font-size: 160px;
      text-transform: uppercase;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      letter-spacing: 3.2px;

      @media (max-width: 1080px) {
        font-size: 40px;
      }
    }

    p {
      color: white;
      text-align: center;
      text-shadow: var(--shadow-box-1);
      font-family: var(--font-din-alternate);
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.72px;

      @media (max-width: 1080px) {
        font-size: 20px;
      }
    }

    @media (max-width: 1280px) {
      width: 800px;
    }

    @media (max-width: 768px) {
      width: 360px;
    }
  }
}

.btn-download {
  width: 450px;
  aspect-ratio: 700 / 120;
  position: relative;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: 1080px) {
    display: none;
  }
  .img-back {
    transition: all 200ms;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    height: 80px;
    aspect-ratio: 700 / 120;
    .img {
      filter: drop-shadow(var(--shadow-box-1));
    }
  }
  .img-front {
    z-index: 2;
    transition: all 200ms;
    position: absolute;
    left: 0;
    top: 0;
    height: 80px;
    aspect-ratio: 691.5 / 120;
    .img {
      filter: drop-shadow(var(--shadow-box-1));
    }
  }
  .text {
    position: relative;
    display: flex;
    align-items: center;
    gap: 25px;
    text-transform: uppercase;
    color: #382900;
    text-align: center;
    font-family: var(--font-tungsten);
    font-size: 36px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    letter-spacing: 2.5px;
    transition: all 200ms;
    z-index: 3;
  }
  .bg-shadow {
    position: absolute;
    transition: all 200ms;
    z-index: 0;
    width: 300px;
    height: 40px;
    box-shadow: var(--shadow-play-hover);
    background-color: var(--color-primary-50);
    opacity: 0;
  }
  &:hover {
    .img-front {
      scale: 1.01;
    }
    .text {
      color: #fff;
      img {
        filter: brightness(10) grayscale(1);
      }
    }
    .bg-shadow {
      opacity: 1;
    }
  }
}
