// Font Family
$inter: var(--font-inter);
$tungsten: var(--font-tungsten);
$din: var(--font-din-alternate);
$montserrat: var(--font-montserrat);

:root {
  /* Fonts Family */

  /* Colors */
  --color-primary-50: #ffbe17;
  --color-primary-100: #c8991b;
  --color-primary-200: #382900;
  --color-primary-300: #b0b0b0;
  --color-primary-400: #ffcb45;
  --color-secondary-50: #838383;
  --color-secondary-100: #2e2e2e;
  --color-secondary-200: #262626;
  --color-secondary-300: #7b7b7b;
  --color-secondary-400: #474747;
  --color-secondary-500: #21201f;
  --color-secondary-600: #b2b2b2;
  --color-secondary-700: #292c32;
  --color-secondary-800: #1f2023;
  --color-dark: #212121;
  --color-dark-1: #1f1f1f;
  --color-success: #42ff00;

  /* Drop Shadow */
  --shadow-box-1: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --shadow-box-2: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  --shadow-box-3: 0px 0px 151.2px 0px #ffbe18;

  /* Box Shadow */
  --shadow-play-hover: 0px 0px 2.528px 0px #ffc93c, 0px 0px 5.055px 0px #ffc93c,
    0px 0px 17.693px 0px #ffc93c, 0px 0px 35.386px 0px #ffc93c,
    0px 0px 60.661px 0px #ffc93c, 0px 0px 106.157px 0px #ffc93c;
  --shadow-dropdown: 4px 4px 0px rgba(0, 0, 0, 0.25),
    0px 1px 1px 0px rgba(255, 255, 255, 0.25) inset,
    0px -1px 1px 0px rgba(255, 255, 255, 0.25) inset;

  /* Background */
  --bg-drop-item: linear-gradient(
    180deg,
    rgba(255, 190, 23, 0.38) 0%,
    rgba(255, 190, 23, 0.25) 100%
  );
  --bg-gradient-1: linear-gradient(180deg, #7e7e7e 0%, #525252 100%);
}
