.list-group {
  margin-bottom: 24px;
  overflow: hidden;
  &:hover {
    .title-bar {
      background: rgba(255, 255, 255, 0.25) !important;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
    }
  }
}

.title-bar {
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  .title {
    font-family: var(--font-din-alternate);
    font-weight: bold;
    font-size: 24px;
    line-height: 20px;
    color: #fff;
  }
  .btn-arrow {
    width: 10px;
    height: 10px;
    display: grid;
    place-content: center;
    svg {
      path {
        stroke: var(--color-primary-50);
      }
    }
  }
}

.list-box {
  padding: 0 12px;
  .list {
    margin-top: 20px;
    padding: 8px 40px 8px 12px;
    font-size: 24px;
    font-family: var(--font-din-alternate);
    line-height: 20px;
    a {
      color: white;
    }
  }
}
