.coin-balance {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 58px;
  margin-left: 40px;
  margin-right: 22px;
  .title {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;
    font-weight: 600;
    color: var(--color-primary-50);
    font-family: var(--font-tungsten);
    margin-left: -4px;
  }
  .balance {
    display: flex;
    gap: 4px;
    align-items: center;
    color: white;
    font-size: 16px;
    font-weight: 500;
    font-family: var(--font-tungsten);
    letter-spacing: 0.2px;
    .coin-icon {
      filter: drop-shadow(var(--shadow-box-2));
    }
  }
  @media (max-width: 1560px) {
    margin-left: 20px;
    margin-right: 20px;
  }
}
