.rank-table {
}

.table {
  .thead {
    .tr {
      display: flex;
      align-items: center;
      .td {
        color: white;
        text-align: center;
        font-family: var(--font-din-alternate);
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding-top: 16px;
        padding-right: 16px;
        padding-bottom: 16px;
        padding-left: 16px;
      }
    }
  }
}
