.mobile-header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 860px;
  height: 100vh;
  display: none;
  @media (max-width: 1080px) {
    display: block;
  }
}

.banner {
  padding: 10px auto;
  background: #000;
  font-family: var(--font-tungsten);
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 5%;
  line-height: 1.5;
}

.header-content {
  background-color: #111111;
  overflow: auto;
}

.header-content.opened {
  background-color: #1f1f1f;
}

.navs {
  padding: 28px;
}
