.tabs {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, minmax(0, 1fr));

  @media (max-width: 768px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.tab-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  @media (max-width: 1080px) {
    display: flex;
    flex-direction: column;
  }
}
.others {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.tab-btn {
  width: 160px;
  height: 36px;
  position: relative;
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  color: var(--color-dark-1);
  text-align: center;
  font-family: var(--font-tungsten);
  font-size: 24px;
  font-style: normal;
  font-weight: bold;
  text-transform: capitalize;
  line-height: normal;
  letter-spacing: 1.2px;
  cursor: pointer;

  .active {
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
    position: absolute;
    z-index: -1;
  }
  .default {
    transition: opacity 200ms;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
    opacity: 1;
    position: absolute;
    z-index: -1;
  }
}

.date-content {
  display: flex;
  height: 36px;
  margin-top: 10px;
  padding: 0 12px;
  gap: 7px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4px;
  background: white;
  box-shadow: 0px 2px 4px 0px rgba(24, 39, 75, 0.08),
    0px 8px 16px 0px rgba(24, 39, 75, 0.12);

  p {
    color: #7d7d7d;
    font-family: var(--font-din-alternate);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 125% */
  }

  .dateIcon {
    position: relative;
    width: 16px;
    height: 16px;
    margin-bottom: 3px;
  }

  .arrow-icon {
    margin-left: 4px;
    width: 12px;
    height: 12px;
    display: grid;
    place-content: center;
    transition: all 300ms;
    .icon {
      stroke: #7d7d7d;
      transition: all 300ms;
    }
  }
}

.search-content {
  display: flex;
  height: 36px;
  margin-top: 10px;
  padding: 0 12px;
  gap: 4px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4px;
  background: white;
  box-shadow: 0px 2px 4px 0px rgba(24, 39, 75, 0.08),
    0px 8px 16px 0px rgba(24, 39, 75, 0.12);

  .search-input {
    outline: none;
    border: none;
    color: #7d7d7d;
    font-weight: 600;
    background-color: transparent;

    @media (max-width: 768px) {
      width: 120px;
    }
  }
  input::placeholder {
    color: #7d7d7d;
  }

  .search-icon {
    position: relative;
    width: 12px;
    height: 12px;
  }
}
