.header {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  height: 106px;
  @media (max-width: 1080px) {
    display: none;
  }
}
.header-img {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 0;
}
.header-title {
  margin-left: 40px;
  position: relative;
  z-index: 1;
  border-left: 12px solid var(--color-primary-50);
  padding-left: 10px;
  h2 {
    color: white;
    text-shadow: var(--shadow-box-1);
    font-family: var(--font-tungsten);
    font-size: 48px;
    font-style: normal;
    font-weight: bold;
    line-height: 0.8;
    letter-spacing: 0.96px;
    text-transform: uppercase;
  }
  p {
    color: white;
    text-shadow: var(--shadow-box-1);
    font-family: var(--font-tungsten);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 0.8;
    letter-spacing: 0.48px;
    opacity: 0.75;
  }
}
