.gunz-vip {
  position: relative;
  padding-top: 60px;
  height: 600px;
  order: 4;
  @media (max-width: 1080px) {
    padding-top: 16px;
    padding-bottom: 0;
    height: auto;
    order: 3;
  }
}
.info {
  position: relative;
  z-index: 2;
}
.vip-content {
  position: relative;
  z-index: 1;
  .title {
    color: var(--color-primary-50);
    text-align: center;
    text-shadow: var(--shadow-box-1);
    font-family: var(--font-tungsten);
    font-size: 64px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
  }
  .description {
    color: #fff;
    text-align: center;
    text-shadow: var(--shadow-box-1);
    font-family: var(--font-tungsten);
    font-size: 32px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    margin-top: 48px;
  }
  .pattern-left {
    position: absolute;
    width: 453px;
    aspect-ratio: 453 / 600;
    top: 0;
    left: 0;
  }
  .pattern-right {
    position: absolute;
    width: 336px;
    aspect-ratio: 336 / 530;
    top: 34px;
    right: 50px;
  }
  ul {
    color: #fff;
    text-align: center;
    text-shadow: var(--shadow-box-1);
    font-family: var(--font-din-alternate);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    list-style: inside;
    margin-top: 13px;
    margin-bottom: 7px;
  }
  .action {
    text-align: center;
    margin-top: 50px;
  }
  .btn-buy {
    width: 300px;
    height: 75px;
    border-radius: 8px;
    background: linear-gradient(180deg, #ffbe17 0%, #d89a00 100%);
    box-shadow: var(--shadow-box-2);
    color: #fffdf6;
    text-transform: uppercase;
    text-align: center;
    text-shadow: var(--shadow-box-1);
    font-family: var(--font-tungsten);
    font-size: 30px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    position: relative;
    &::after {
      content: "";
      background-color: white;
      z-index: 1;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
      transition: all 200ms;
    }
    &:hover {
      &::after {
        opacity: 0.2;
      }
    }
    &:first-child {
      margin-right: 18px;
    }
    &:last-child {
      margin-left: 18px;
    }

    @media (max-width: 1080px) {
      width: 200px;
      height: 50px;
      font-size: 16px;
    }
  }

  .pattern-bottom {
    display: none;
  }

  @media (max-width: 1080px) {
    .title {
      font-size: 32px;
    }
    .description {
      margin-top: 12px;
      font-size: 16px;
    }
    ul {
      li {
        font-size: 12px;
      }
    }

    .pattern-left {
      display: none;
    }
    .pattern-right {
      display: none;
    }
    .pattern-bottom {
      display: block;
      position: relative;
      width: 100%;
      max-width: 390px;
      aspect-ratio: 390 / 302;
      margin-right: auto;
      margin-left: auto;
      margin-top: 20px;
    }
  }
}
