.image-button {
  position: relative;
  width: 140px;
  height: 36px;
  margin-left: 28px;
  margin-right: 16px;
  @media (max-width: 1440px) {
    margin-left: 12px;
  }
  .bg-shadow {
    width: 120px;
    height: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 300ms;
    box-shadow: var(--shadow-play-hover);
    opacity: 0;
    z-index: 1;
  }
  .line-image-box {
    position: absolute;
    width: 144px;
    height: 35px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  .up-image-box {
    position: absolute;
    width: 139px;
    height: 34px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  .btn-image {
    filter: drop-shadow(var(--shadow-box-1));
  }
  .btn-title {
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-family: var(--font-tungsten);
    font-size: 20px;
    color: var(--color-dark);
    z-index: 3;
  }
  &:hover {
    .bg-shadow {
      opacity: 1;
    }
  }
}
