.modal {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #0000009c;
  z-index: 9999;

  .modal-content {
    position: relative;
    display: flex;
    padding-bottom: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid var(--color-primary-50);

    .image-content {
      position: relative;
      display: flex;
      width: 360px;
      height: 360px;
      padding: 40px;
      justify-content: center;
      align-items: center;
      gap: 8px;
    }

    .image {
      position: relative;
      width: 320px;
      height: 320px;
      flex-shrink: 0;
      z-index: 9999;

      img {
        box-shadow: 0px 10px 55.6px 0px var(--color-primary-50);
        border-radius: 10px;
      }
    }

    .no-image {
      width: 320px;
      height: 320px;
      font-size: 44px;
      border-radius: 8px;
      display: grid;
      place-content: center;
      background: var(--bg-gradient-1);
      border: 1px solid var(--color-secondary-600);
      box-shadow: var(--shadow-box-2);
      text-align: center;
      color: white;
      font-family: var(--font-tungsten);
    }

    p {
      color: #fff;
      text-align: center;
      font-family: var(--font-tungsten);
      font-size: 40px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    .close {
      position: absolute;
      width: 32px;
      height: 32px;
      top: 8px;
      right: 8px;
      cursor: pointer;
    }
  }
}
