.searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 64px;
  gap: 40px;
  align-self: stretch;
  @media (max-width: 1080px) {
    margin-top: 34px;
    flex-direction: column-reverse;
    gap: 20px;
  }

  .input-group {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
  }
  .button-group {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
  }
}
